<nav class="navbar navbar-expand-lg fixed-top navbar">
    <a class="navbar-brand mr-5" href="#" style="color : wheat;">Exampro</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link  a" routerLink="menu"><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp;Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  a"  routerLink="editcandidat">Administration</a>
        </li>
        <li class="nav-item">
          <a class="nav-link a" routerLink="searchcandidat">Délibération</a>
        </li>
        <li class="nav-item">
          <a class="nav-link a" routerLink="addcandidat">Gestion des Notes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link a" routerLink="addcandidat">Gestion des Candidats</a>
        </li>
        <li class="nav-item">
          <a class="nav-link a" routerLink="addcandidat">Gestion des Utilisateurs</a>
        </li>
       <li ngbDropdown class="nav-item dropdown ">
          <a ngbDropdownMenu class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="dropdown01" role="button" aria-haspopup="true" aria-expanded="false" style="color : wheat;">Dropdown</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
          </div>
        </li>            
      </ul>
    </div>
  </nav>
  
