<div class="container py-5">
 
  
  
  
  
    <div class="card-body py-5 ">
      <table class="table table-bordered table-hover" style="background-color:rgb(44, 23, 10);">
       
        <tbody >
          <tr class="col-2">
            <td>
              <div class="card " style="width: 18rem;">
                <ul class="list-group list-group-flush">
                  <li  class="list-group-item btn btn-info li"><a href="http://localhost:4200/editcentre" class="texte" style="text-decoration: none;" >Centres</a></li>
                  <li  class="list-group-item btn btn-info li"><a href="http://localhost:4200/listcandidats" class="texte" style="text-decoration: none;">Candidats</a></li>
                  <li class="list-group-item btn btn-info li"><a class="texte" routerLink="listcandidats" style="text-decoration: none;">Examens</a></li>
                </ul>
              </div>
            </td>
            <td>
              <div class="card" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item btn btn-info li"><a class="texte" routerLink="listcandidats" style="text-decoration: none;">Filières</a></li>
                  <li class="list-group-item btn btn-info li"><a class="texte" routerLink="listcandidats" style="text-decoration: none;">Spécialités</a></li>
                  <li class="list-group-item btn btn-info li"><a class="texte" routerLink="listcandidats" style="text-decoration: none;">Matières</a></li>
                </ul>
              </div>
            </td>
            <td>
              <div class="card" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item btn btn-info li"><a  class="texte" routerLink="listcandidats" style="text-decoration: none;">Correcteurs</a></li>
                  <li class="list-group-item btn btn-info li"><a class="texte" routerLink="listcandidats" style="text-decoration: none;">Notes</a></li>
                  <li class="list-group-item btn btn-info li"><a class="texte" routerLink="listcandidats" style="text-decoration: none;">Plage Copie</a></li>
                </ul>
              </div>
            </td>
          </tr>
            <tr>
              <td>
                <div class="card" style="width: 18rem;">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item btn btn-info li"><a class="texte" routerLink="listcandidats" style="text-decoration: none;">Jurys</a></li>
                    <li class="list-group-item btn btn-info li"><a class="texte" routerLink="listcandidats" style="text-decoration: none;">Examens</a></li>
                    <li class="list-group-item btn btn-info li"><a class="texte" routerLink="listcandidats" style="text-decoration: none;">Sessions</a></li>
                  </ul>
                </div>
              </td>
              <td>
                <div class="card" style="width: 18rem;">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item btn btn-info li"><a class="texte" routerLink="listandidats" style="text-decoration: none;">Salles</a></li>
                    <li class="list-group-item btn btn-info li"><a class="texte" routerLink="listandidats" style="text-decoration: none;">Tables</a></li>
                    <li class="list-group-item btn btn-info li"><a class="texte" routerLink="listandidats" style="text-decoration: none;">Surveillants</a></li>
                  </ul>
                </div>
              </td>
              <td>
                <div class="card" style="width: 18rem;">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item btn btn-info li"><a class="texte" routerLink="listandidats" style="text-decoration: none;">PV Surveillance</a></li>
                    <li class="list-group-item btn btn-info li"><a class="texte" routerLink="listandidats" style="text-decoration: none;">Relevés de notes</a></li>
                    <li class="list-group-item btn btn-info li"><a class="texte" routerLink="listandidats" style="text-decoration: none;">Anonymats</a></li>
                  </ul>
                </div>
              </td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>